* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 0.875rem;
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  text-align: center;
}

header {
  padding: 1.5rem 1.3rem 0;
  background-color: hsl(217, 28%, 15%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 5.9rem;
  height: 1.6rem;
}

header ul {
  width: 10rem;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header li:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
}

.intro-image {
  height: 24rem;
  padding: 3rem 1.8rem;
  background: url(images/bg-curvy-mobile.svg) no-repeat hsl(217, 28%, 15%);
  background-position: bottom;
  background-size: contain;
}

.intro-image img {
  width: 20rem;
  height: 82%;
}

.intro-content {
  padding: 0 1.8rem;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: 3.9rem;
}

.intro-content h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.intro-content p {
  font-size: 0.95rem;
  line-height: 1.4rem;
  margin-bottom: 1.7rem;
  font-family: "Open Sans", sans-serif;
}

.intro-content button {
  padding: 1rem 5.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  border-style: none;
}

.intro-content button:hover {
  cursor: pointer;
  background-color: hsl(176, 68%, 64%);
}

section {
  padding: 0 1.8rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-family: "Raleway", sans-serif;
}

section img {
  width: 4.1rem;
}

section h2 {
  font-size: 1.17rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

section p {
  margin-bottom: 5rem;
  line-height: 1.4rem;
  font-family: "Open Sans", sans-serif;
}

.productive {
  margin-top: 10rem;
  text-align: left;
}

.productive img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.productive p {
  margin-bottom: 0.7rem;
  font-family: "Raleway", sans-serif;
}

.blue {
  border-bottom: 0.1rem solid hsl(176, 68%, 64%);
  padding-bottom: 0.2rem;
  font-family: "Open Sans", sans-serif !important;
  color: hsl(176, 68%, 64%);
  width: fit-content;
}

.blue:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
}

.blue::after {
  content: url(images/icon-arrow.svg);
  position: relative;
  left: 0.3rem;
  top: 0.2rem;
}

.testimonials {
  padding: 0 2.2rem;
  text-align: left;
}

.testimonials img {
  width: 1.8rem;
  height: 1.2rem;
  position: relative;
  left: 0.5rem;
  top: 0.25rem;
}

.testimonials-profile {
  border-radius: 0.3rem;
  background-color: hsl(218, 28%, 13%);
}

.testimonials-profile .satish,
.testimonials-profile .bruce,
.testimonials-profile .iva {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.4rem;
  background: hsl(219, 30%, 18%);
}

.testimonials p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.profile {
  margin-top: -1.5rem;
  margin-left: 1.1rem;
  display: flex;
  font-family: "Raleway", sans-serif;
}

.profile h3 {
  font-size: 1rem;
}

.profile p {
  padding: 0;
}

.profile img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.3rem;
  border-radius: 50%;
}

.profile-details {
  margin-top: 0.5rem;
}

.profile-details p {
  margin-bottom: 0;
}

footer {
  padding-bottom: 2rem;
  background-color: hsl(216, 53%, 9%);
  font-family: "Raleway", sans-serif;
}

.signup {
  width: 88%;
  padding: 2.6rem 2rem 2rem;
  margin: 22rem auto 0;
  position: relative;
  bottom: 11rem;
  border-radius: 0.5rem;
  background-color: hsl(217, 28%, 15%);
}

.signup h2 {
  margin-bottom: 1rem;
}

.signup p {
  font-size: 0.86rem;
  line-height: 1.4rem;
}

.signup input {
  width: 100%;
  padding: 0.9rem 1rem;
  margin: 1.4rem 0;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 2rem;
  border-style: none;
  outline: none;
}

.signup input::placeholder {
  padding-left: 1rem;
}

.signup button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  border-style: none;
}

.signup button:hover {
  cursor: pointer;
  background-color: hsl(176, 68%, 64%);
}

.contact {
  margin-top: -7rem;
  margin-bottom: 4rem;
  padding: 0 1.5rem;
  text-align: left;
}

.contact-logo img {
  margin-bottom: 2.5rem;
}

.contact p {
  margin-bottom: 1rem;
}

.contact-location,
.contact-number,
.contact-mail {
  padding-right: 0.75rem;
  display: flex;
}

.contact-location img,
.contact-number img {
  margin-top: 0.3rem;
  margin-right: 1rem;
  width: 1rem;
  height: 1.1rem;
}

.contact-location p,
.contact-number p,
.contact-mail p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.contact-mail img {
  margin-top: 0.3rem;
  margin-right: 1rem;
  width: 1.1rem;
  height: 1rem;
}

footer nav {
  padding: 0 1.5rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  text-align: left;
}

footer ul {
  list-style: none;
}

footer li {
  margin-bottom: 1rem;
}

.socials {
  width: 7.5rem;
  font-size: 0.9rem;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: space-between;
}

.socials i {
  padding: 0.6rem;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.error {
  color: hsl(0, 100%, 63%);
}

.e {
  margin-bottom: 1.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1280px) {
  header {
    padding: 2rem 3rem;
  }

  .intro-image {
    height: 42rem;
    padding: 4rem 19rem;
    background: hsl(217, 28%, 15%);
    background-position: bottom;
  }

  .intro-image img {
    width: 100%;
    height: 100%;
  }

  .intro-content {
    height: 33rem;
    padding: 1rem 16rem;
    margin-top: 2rem;
    background: url(images/bg-curvy-desktop.svg) no-repeat hsl(217, 28%, 15%);
    background-position: bottom;
  }

  .intro-content h1 {
    font-size: 2.6rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }

  .intro-content p {
    padding: 0 8rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  section {
    margin-top: -4rem;
  }

  .first-line {
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .access {
    width: 22rem;
  }

  .security {
    width: 24rem;
  }

  .security img {
    height: 4.2rem;
    width: 3.8rem;
  }

  .second-line {
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .collaboration {
    width: 23rem;
  }

  .store {
    width: 23rem;
  }

  .productive {
    margin-top: 5rem;
    padding: 0 8rem 0 5rem;
    display: flex;
    align-items: center;
  }

  .productive-image {
    width: 80%;
    margin-right: 4rem;
  }

  .productive-content h2 {
    width: 24rem;
    font-size: 2rem;
  }

  .productive-content p {
    margin-bottom: 1rem;
    line-height: 1.8rem;
  }

  .testimonials-image img {
    width: 3.2rem;
    height: 2.5rem;
    position: relative;
    left: 9.5rem;
    top: 0.8rem;
    z-index: -1;
  }

  .testimonials-profile {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .testimonials-profile .satish,
  .testimonials-profile .bruce,
  .testimonials-profile .iva {
    width: 18rem;
  }

  .profile-details h3 {
    font-size: 0.8rem;
  }

  .signup {
    width: 58%;
  }

  .signup h2 {
    font-size: 1.95rem;
    padding-top: 0.5rem;
  }

  .signup p {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .signup form {
    margin-top: 1.2rem;
    padding: 0 2rem 0.1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .signup input {
    width: 28rem;
  }

  .signup button {
    width: 12rem;
    font-size: 0.7rem;
    margin: 0;
  }

  .contact-logo img {
    width: 12rem;
    height: 2.3rem;
    padding-left: 4.5rem;
  }

  .contact-section {
    width: 100%;
    padding: 1rem 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-section img {
    width: 1rem;
    height: 0.9rem;
  }

  .contact-location {
    width: 22rem;
  }

  .contact-location p {
    font-size: 0.9rem;
  }

  .mail-number p {
    font-size: 0.9rem;
  }

  nav ul {
    font-size: 0.9rem;
  }

  .socials {
    margin: 0;
  }

  footer {
    padding-bottom: 0.1rem;
  }

  footer li:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .socials i:hover {
    cursor: pointer;
    color: hsl(176, 68%, 64%);
    border-color: hsl(176, 68%, 64%);
  }
}
